In [1]:
import pandas as pd
import numpy as np

# import the csv file
csv_file = pd.read_csv(r"C:\Users\adead\Downloads\excel dataset for practice\heart.csv")
df1 = pd.DataFrame(csv_file)
df1

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [2]:
# print out the first 5 rows
df1.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [7]:
# print out n number of rows
# df1.head(n), where n is in the range [0, any int]

# df1.head(0)  prints out the column
df1.head(50)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
5,39,M,NAP,120,339,0,Normal,170,N,0.0,Up,0
6,45,F,ATA,130,237,0,Normal,170,N,0.0,Up,0
7,54,M,ATA,110,208,0,Normal,142,N,0.0,Up,0
8,37,M,ASY,140,207,0,Normal,130,Y,1.5,Flat,1
9,48,F,ATA,120,284,0,Normal,120,N,0.0,Up,0
10,37,F,NAP,130,211,0,Normal,142,N,0.0,Up,0
11,58,M,ATA,136,164,0,ST,99,Y,2.0,Flat,1
12,39,M,ATA,120,204,0,Normal,145,N,0.0,Up,0
13,49,M,ASY,140,234,0,Normal,140,Y,1.0,Flat,1
14,42,F,NAP,115,211,0,ST,137,N,0.0,Up,0
15,54,F,ATA,120,273,0,Normal,150,N,1.5,Flat,0
16,38,M,ASY,110,196,0,Normal,166,N,0.0,Flat,1
17,43,F,ATA,120,201,0,Normal,165,N,0.0,Up,0
18,60,M,ASY,100,248,0,Normal,125,N,1.0,Flat,1
19,36,M,ATA,120,267,0,Normal,160,N,3.0,Flat,1
20,43,F,TA,100,223,0,Normal,142,N,0.0,Up,0
21,44,M,ATA,120,184,0,Normal,142,N,1.0,Flat,0
22,49,F,ATA,124,201,0,Normal,164,N,0.0,Up,0
23,44,M,ATA,150,288,0,Normal,150,Y,3.0,Flat,1
24,40,M,NAP,130,215,0,Normal,138,N,0.0,Up,0
25,36,M,NAP,130,209,0,Normal,178,N,0.0,Up,0
26,53,M,ASY,124,260,0,ST,112,Y,3.0,Flat,0
27,52,M,ATA,120,284,0,Normal,118,N,0.0,Up,0
28,53,F,ATA,113,468,0,Normal,127,N,0.0,Up,0
29,51,M,ATA,125,188,0,Normal,145,N,0.0,Up,0
30,53,M,NAP,145,518,0,Normal,130,N,0.0,Flat,1
31,56,M,NAP,130,167,0,Normal,114,N,0.0,Up,0
32,54,M,ASY,125,224,0,Normal,122,N,2.0,Flat,1
33,41,M,ASY,130,172,0,ST,130,N,2.0,Flat,1
34,43,F,ATA,150,186,0,Normal,154,N,0.0,Up,0
35,32,M,ATA,125,254,0,Normal,155,N,0.0,Up,0
36,65,M,ASY,140,306,1,Normal,87,Y,1.5,Flat,1
37,41,F,ATA,110,250,0,ST,142,N,0.0,Up,0
38,48,F,ATA,120,177,1,ST,148,N,0.0,Up,0
39,48,F,ASY,150,227,0,Normal,130,Y,1.0,Flat,0
40,54,F,ATA,150,230,0,Normal,130,N,0.0,Up,0
41,54,F,NAP,130,294,0,ST,100,Y,0.0,Flat,1
42,35,M,ATA,150,264,0,Normal,168,N,0.0,Up,0
43,52,M,NAP,140,259,0,ST,170,N,0.0,Up,0
44,43,M,ASY,120,175,0,Normal,120,Y,1.0,Flat,1
45,59,M,NAP,130,318,0,Normal,120,Y,1.0,Flat,0
46,37,M,ASY,120,223,0,Normal,168,N,0.0,Up,0
47,50,M,ATA,140,216,0,Normal,170,N,0.0,Up,0
48,36,M,NAP,112,340,0,Normal,184,N,1.0,Flat,0
49,41,M,ASY,110,289,0,Normal,170,N,0.0,Flat,1

In [8]:
# print out the last 5 rows
df1.tail()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [9]:
# print out the last 5 rows
df1.tail()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [12]:
# print out the last n rows
df1.tail(10)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
908,63,M,ASY,140,187,0,LVH,144,Y,4.0,Up,1
909,63,F,ASY,124,197,0,Normal,136,Y,0.0,Flat,1
910,41,M,ATA,120,157,0,Normal,182,N,0.0,Up,0
911,59,M,ASY,164,176,1,LVH,90,N,1.0,Flat,1
912,57,F,ASY,140,241,0,Normal,123,Y,0.2,Flat,1
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [13]:
# get info about the df
# .info() gives the details of the df
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [14]:
# get the shape of the df
# .shape  gives (rows, cols)
df1.shape

(918, 12)

In [15]:
# get number of dimensions
# .ndim
df1.ndim

2

In [16]:
# get the column datatypes
# .dtypes
df1.dtypes

Age                 int64
Sex                object
ChestPainType      object
RestingBP           int64
Cholesterol         int64
FastingBS           int64
RestingECG         object
MaxHR               int64
ExerciseAngina     object
Oldpeak           float64
ST_Slope           object
HeartDisease        int64
dtype: object

In [17]:
# get statistics bout the data frame
# .describe()
df1.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [19]:
# describe a specific column
# df['ColumnName'].describe()
df1['Age'].describe()
df1['ChestPainType'].describe()

count     918
unique      4
top       ASY
freq      496
Name: ChestPainType, dtype: object

In [20]:
# select multiple columns
df1[['HeartDisease', 'Age', 'FastingBS']].describe()

       HeartDisease         Age   FastingBS
count    918.000000  918.000000  918.000000
mean       0.553377   53.510893    0.233115
std        0.497414    9.432617    0.423046
min        0.000000   28.000000    0.000000
25%        0.000000   47.000000    0.000000
50%        1.000000   54.000000    0.000000
75%        1.000000   60.000000    0.000000
max        1.000000   77.000000    1.000000

In [23]:
# method 2: Dot Notation
df1.Age 
df1.Age.describe()

count    918.000000
mean      53.510893
std        9.432617
min       28.000000
25%       47.000000
50%       54.000000
75%       60.000000
max       77.000000
Name: Age, dtype: float64

In [29]:
# pulling out rows using specific location
# .iloc()
#df1.iloc[1: 7]  # 7 is not inclusive
df1.iloc[:, 8]

0      N
1      N
2      N
3      Y
4      N
      ..
913    N
914    N
915    Y
916    N
917    N
Name: ExerciseAngina, Length: 918, dtype: object